body{
    background-image: url("../assets/food-home.png");
    max-width: 100%;
    max-width: 100%;
    background-size: cover;
}


.cartita{
    grid-column: 1/-1;
    grid-row: 7-1;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0rem;
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.cargar{
    cursor: pointer;
    background: radial-gradient(circle, rgba(226, 226, 226, 0.699) 0%, rgb(250, 224, 189) 100%);
    width: 150px;
    height: 30px;
    font-size: medium;
    margin-right: 10px ;
}

.ordenar{
cursor: pointer;
background: radial-gradient(circle, rgba(226, 226, 226, 0.699) 0%, rgb(250, 224, 189) 100%);
width: fit-content;
height: 20px;
margin: 0 10px 0 10px;
padding: 0 10px 0 10px;

}

.calorias{
cursor: pointer;
background: radial-gradient(circle, rgba(226, 226, 226, 0.699) 0%, rgb(250, 224, 189) 100%);
width: fit-content;
font-size: medium;
margin: 0 20px 0 10px;
padding: 0 20px 0 10px;

}

.tiposdedieta{
cursor: pointer;
background: radial-gradient(circle, rgba(226, 226, 226, 0.699) 0%, rgb(250, 224, 189) 100%);
width: fit-content;
height: 20px;
font-size: medium;

}
.titulohome{
background: radial-gradient(circle, rgba(226, 226, 226, 0.699) 0%, rgb(250, 224, 189) 100%);
 width: fit-content;
 margin-left: 500px;
}

.botonreceta{
    cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #f5e19f;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  width: fit-content;
  margin-left: 560px;
  text-decoration: none;

}

.botonreceta:hover {
  background: #f7bf08;
}

.botonreceta > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.botonreceta:hover svg {
  transform: translateX(5px);
}

.botonreceta:active {
  transform: scale(0.95);
}

.nombresito1{
  margin: 1rem auto;
  
}


