.paginado{
    margin: 20px 0px;
}

.paginado ul{
    text-align: center;
    list-style: none;
}

.paginado ul li{
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.paginado ul li a{
    display: block;
    padding: 10px 16px;
    color: rgb(11, 12, 12);
    background: #fce28c;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    line-height: 1.1;

}

.paginado ul li a:hover{
background: rgb(151, 247, 114);
}

.paginado ul li .active{
    background: rgb(70, 70, 70);
}